h2 {
    margin: 0 auto; /*Überschrift*/ 
    font-size: 35px;
    margin: 10px;
}
 
td { /*Tabelle*/ 
    border: 1px solid black; 
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: x-large;
}

.player {
	margin-top: 10px;
	margin-right: 30px;
}

.player[name="X"] { /*Button Spieler X*/ 
	background-color: lightblue;
}

.player[name="O"] { /*Button Spieler O*/ 
	background-color: lightgreen;
}

.highlight {	
	border: 5px solid yellow;
}

.unhighlight {
	border: 1px none black;
} 
