body {  
    text-align: center; /*Ausrichtung*/
    font-family: Arial, Helvetica, sans-serif; 
}

h2 {
    margin: 0 auto; /*Überschrift*/ 
    font-size: 35px;
    margin: 10px;
}

/*Grundgerüst der Tabelle*/
.game-board { 
    display: grid;
    grid-template-rows: 100px 100px 100px; /*Größe der Reihen*/
    grid-template-columns: 100px 100px 100px; /*Größe der Zellen*/
}

body {
  display: flex;
  justify-content: center;
}

/*Formatierung der Tabelle*/
.box {
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
}
