/*https://wiki.selfhtml.org/wiki/JavaScript/Tutorials/Spiele/Tic-Tac-Toe*/ 


body {
    text-align: center; /*Ausrichtung*/
    font-family: Arial, Helvetica, sans-serif; 
}

.tic-tac-toe table { /*Tic-Tac-Toe = Klasse*/
    border: 2px solid black;
    border-collapse: separate;
}

.tic-tac-toe td {
    font-style:italic;
    text-align: right;
    box-shadow: inset 1px 3px 5px -3px rgba(0,0,0,0.5);    
}

.tic-tac-toe button { /*Leeres Tabellenfeld*/
    left: -100vw;
    position: absolute;
}

.tic-tac-toe .o { /*Farbliche Darstellung Klasse O*/
    background: #8f8;
    color: #8f8;
}
  
.tic-tac-toe .x { /*Farbliche Darstellung Klasse X*/
    background: #f88;
    color: #f88;
}

.tic-tac-toe .o::after { /*Kreis darstellen*/
    content: "○";
    top: -0.2em; /*Vertikale Position*/
}
  
.tic-tac-toe .x::after { /*Kreuz darstellen*/
    content: "×";
    top: -0.125em; /*Vertikale Position*/
}
  
.tic-tac-toe .o::after,
.tic-tac-toe .x::after {
    color: black;
    display: block;
    font-size: 5em;
    position: absolute;
    width: 100%;
  }
  
  